/* h1, h2{
    display: inline-block;
    background-color: cyan;
    width: 200px;
}

label, input{
    display: block;
} */

p{
    display: inline-block;
    width: 150px;
    box-sizing: border-box;
    background-color: lightgreen;
    margin: 10px;
    padding: 20px;
    vertical-align: top;
}

a{
    text-decoration: none;
    color: darkslategrey;
    background-color: blanchedalmond;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}