.parent{
    background-color: grey;
    height: 500px;
    width: 500px;
    position: absolute;
    /* vertical-align:middle ; */

   
}

.don{
    background-color: yellow;
    height: 100px;
    width: 100px;
    top: 0px;
    position: relative;
    margin-left: 100px;
    bottom: 

}

.john{
    background-color: red;
    width: 100px;
    height: 100px;
    top: 10px;
    position: relative;
    


}